.card {


}

.card-image {
  object-fit: cover;
  object-position: center center;
  height: 360px;
}

.card-title{
  color: white;
  padding: 0px !important;
  font-size: large;
}

.card-subtitle{
  padding: 0px !important;
}
